dj-database-url==0.5.0
Django==2.1.2
django-crispy-forms==1.7.2
django-heroku==0.3.1
django-markdownx==2.0.25
gunicorn==19.9.0
Markdown==3.0.1
Pillow==5.3.0
psycopg2==2.7.5
python-decouple==3.1
pytz==2018.6
whitenoise==4.1
