{% extends 'base.html' %}

{% block content %}
    <div class="card">
        <div class="card-header">
            <h2>{{ article.title }}</h2>
            <p>by {{ article.author }} | {{ article.date }}</p>
        </div>
        <div class="card-body">
            <p>{{ article.formatted_markdown|safe }}</p>
            <p><a href="{% url 'article_edit' article.pk %}">Edit</a> |
                <a href="{% url 'article_delete' article.pk %}">Delete</a></p>
            <p>Back to <a href="{% url 'article_list' %}">All Articles</a>.</p>
        </div>
        <div class="card-footer">
            <h6><strong>Stats for {{ article.title }}</strong></h6>
            <h6><a href="{% url 'add_comment_to_article' pk=article.pk %}">+ Add your stats</a></h6>
            <ul class="list-group">
                {% for comment in article.comments.all %}
                    <li class="list-group-item">
                        <span class="font-weight-bold">{{ comment.author }} &middot;</span>{{ comment }}
                    </li>
                    <li class="list-group-item">
                        <p><a href="{% url 'comment_edit' comment.pk %}">Edit</a> |
                            <a href="{% url 'comment_delete' comment.pk %}">Delete</a></p>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>

{% endblock content %}
