{% extends 'base.html' %}

{% block title %}Home{% endblock title %}

{% block content %}

    <div class="jumbotron">
        <div class="container">
            <h1 class="display-4">COMBAT COMM FIT</h1>
            <div><a class="entrance-link" href="{% url 'article_list' %}" role="button">Member Entrance</a>&middot &middot &middot<a class="entrance-link" href="{% url 'signup' %}" role="button">Sign Up</a></div>
            <img src="/static/img/ccglogo.png" alt="logo">
            <p class="lead">

            </p>
        </div>
    </div>

{% endblock content %}
